*{
    margin: 0;
}
.App{
    margin: 0 7px;
}
table{
    width: 100%;
    height: 100vh;

}
tr{
    width: 100%;
    /* height: 40%; */
}
th{
    background-color: #E0E0E0;
    width: 25%;
    font-size: 60px;
}


.inputCalc{
    font-size: 90px;
    width: 100%;
    height: 100%;
    text-align: right;
}
.thInput{
   height: 12vh;
   background-color: #858694;
   color: white;
}
.orange{
    background-color: #F5923E;
    color: white;
}